name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install dependencies
        run: |
          npm ci
          npx playwright install --with-deps
      - name: Run unit tests
        run: npm run test:unit
      - name: Start app
        run: |
          npm run build
          npm run start &
          sleep 3
      - name: Run e2e tests
        run: npx playwright test --config=playwright.config.ts
